.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1rem;
    border-radius: 10px;
}
.navbar .logo {
    color: #FFF;
    font-size: 34px;
    text-decoration: none;
    font-weight: 600;
}

.nav {
    list-style: none;
    display: flex;
    gap: 50px;    
    flex-grow: 1;
    justify-content: center;
    column-gap: 2rem;
}
.nav .inst,
.nav .cred,
.nav .comp {
    text-decoration: none;
    cursor: pointer;
    color: #FFF;
    font-size: 25px;
    background-color: transparent;
    border: none;
    
}
.perfil_image-navbar {
    width: 30px;
    height: 30px;
    background-color: #f0f0f0;
    border-radius: 50%;
    border: 2px solid #ccc;
    overflow: hidden;
    
}


.nav .inst:hover,
.nav .cred:hover,
.nav .comp:hover,
.logo:hover,
.sign .btn:hover,
.login-btn button:hover {
    transform: scale(1.10);
    
}

.sign .btn {
    border: 1px solid #FFF;
    padding: 1rem 2rem;
    border-radius: 5px;
    background-color: transparent;
    color: #FFF;
    display: block;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;


}
.perfil {
    display: none;
    column-gap: .5rem;
    align-items: center;
    background-color: #FFF;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
}
.perfil .fa-face-grin-beam {
    color: #000;
}
.fa-bars {
    display: none;
}

@media (max-width: 850px) {
    .navbar {
        position: relative; 
    }
    .nav {
        flex-direction: column;
        display: none;
        position: absolute;
        top: 8vh;
        gap: 10px;    
        column-gap: 0;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 0 0 5px 5px;
        
        padding: 10px;
        
    }

    .nav .inst,
    .nav .cred,
    .nav .comp {
        font-size: 1.2rem;
       
        
    }
    
    .navOpened {
        display: flex;
    }
    .fa-bars{
        display:contents;
        font-size: 1.5rem;
    }

    .sign .btn {
    
    padding: .7rem 1.2rem;
        
    
    
    }
}